body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    transform: scale(0.9);
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}
