{% extends "base.html" %}

{% block content %}

<div class="disaster_prevention_links_container">
    <div class="link-section">
        <h2>国土交通省 防災ポータル</h2>
        <p><a href="https://www.mlit.go.jp/river/bousai/olympic/index.html" target="_blank">https://www.mlit.go.jp/river/bousai/olympic/index.html</a></p>
    </div>
    <div class="link-section">
        <h2>逃げなきゃコール</h2>
        <p>大切な人が暮らす市町村の防災情報をアプリで入手し，直接電話で避難を呼びかける取り組みです。</p>
        <p><a href="https://www.mlit.go.jp/river/risp/policy/33nigecall.html" target="_blank">https://www.mlit.go.jp/river/risp/policy/33nigecall.html</a></p>
    </div>
    <div class="link-section">
        <h2>NHK ニュースアプリ</h2>
        <p><a href="https://www3.nhk.or.jp/news/news_bousai_app/index.html" target="_blank">https://www3.nhk.or.jp/news/news_bousai_app/index.html</a></p>
    </div>
</div>

{% endblock %}