<!DOCTYPE html> {% extends "base.html" %} {% block content %} <div class="content">
	<div class="search-container" style="position: absolute; top: 10px; left: 10px;">
		<input type="text" id="location-search" placeholder="位置情報を検索..." />
		<button onclick="searchLocation()">検索</button>
	</div>
	<div class="left">
		<div class="weather-info">
			<iframe src="{{ url_for('weather_info') }}" class="iframe-full"></iframe>
		</div>
		<div class="disaster-prevention-links">
			<iframe src="{{ url_for('disaster_prevention_links') }}" class="iframe-full"></iframe>
		</div>
	</div>
	<div class="right">
    <div class="geo-info">
			<iframe src="{{ url_for('geo_info') }}" class="iframe-full"></iframe>
		</div>
		<div class="route-info">
			<iframe src="{{ url_for('route_info') }}" class="iframe-full"></iframe>
		</div>
	</div>
</div>{% endblock %}


