<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/route_info.css') }}">
    <title>Evacuation Route</title>
</head>
<body>
    <div class="container">
        <a id="google-maps-link" href="https://www.google.com/maps/search/?api=1&query=Tokyo" class="btn--orange" target="_blank">
            近くの避難所を見る
        </a>
    </div>
</body>
</html>