<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="title">天気予報</div>
<div class="weather-container">
    <div class="weather-card">
        <div class="weather-icon" id="weather-icon-today">Weather Icon</div>
        <div class="weather-description">Today's Weather</div>
        <div class="temperature" id="temperature-today">--°C</div>
        <div class="humidity" id="humidity-today">Humidity: --%</div>
        <div class="weather-condition" id="weather-condition-today">--</div>
    </div>
    <div class="weather-card">
        <div class="weather-icon" id="weather-icon-tomorrow">Weather Icon</div>
        <div class="weather-description">Tomorrow's Weather</div>
        <div class="temperature" id="temperature-tomorrow">--°C</div>
        <div class="humidity" id="humidity-tomorrow">Humidity: --%</div>
        <div class="weather-condition" id="weather-condition-tomorrow">--</div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/weather_info_scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/city.js') }}"></script>
{% endblock %}